/*The button's classes*/
.btn-primary {
    color: #fff;
    background-color: #890dfd;
    border-color: #890dfd;
  }
  #Login {
    max-width: 30vw;
    max-height: 10vh;
  }
  #Contact {
    color:  #ffff;
    background-color: #ffff;
    border-color: #ffff;
    margin-bottom: -28%;
    margin-left: 2%;
    padding-left: 2%;
  }