/*The button's classes*/
.btn-primary {
  color: #fff;
  background-color: #890dfd;
  border-color: #890dfd;
}
#Login {
  padding: 0.375rem 7.5rem;
}
#Contact {
  color: #ffff;
  background-color: #ffff;
  border-color: #ffff;
  margin-bottom: -28%;
  margin-left: 2%;
  padding-left: 2%;
}
