/*The gray form id.*/
#grayformLogin {
  z-index: 1;
  position: relative;
  width: 80vw;
  height: 100% !important;
  left: 10vw;
  top: 5vh;

  background-color: #ffffff22;
}

#grayformLoginInside {
  display: table-row !important;
  position: relative;
  width: 70vw;
  background-color: #ffffff22;
}

#grayformRegister {
  z-index: 1;
  position: relative;
  width: 80vw;
  height: 100% !important;
  top: 5vh;
  left: 10vw;

  background-color: #ffffff22;
}

#grayformRegisterInside {
  display: table-row !important;
  position: relative;
  width: 70vw;
  background-color: #ffffff22;
}
/*The Class for the Register box.*/
.p-3 {
  padding: 0.55rem !important;
}

.shorterForm {
  position: relative;
  left: calc((100% - 30vw) / 2);
  width: 30vw;
  height: 4vh !important;
  min-height: 0px;
}

.formRowFixed {
  position: relative;
  height: 15%;
  padding-bottom: 0%;
}

.lengthierLables {
  text-align: center;
  width: 100%;
  position: relative;
  height: 8vh !important;
}

.constantFontSize {
  font-size: 4vh;
}

#Login {
  position: relative;
  top: 3vh;
  width: 30%;
  left: 35%;
  height: 10vh;
  padding-left: 2vw !important;
  padding-right: 2vw !important;
  padding-top: 2vh !important;
  padding-bottom: 2vh !important;
  margin: 0px;
  font-size: 4vh;
  background-color: #6666ff !important;
  border-color: #00000011;
}

#Register {
  position: relative;
  top: 3vh;
  width: 40%;
  left: 30%;
  height: 10vh;
  padding-left: 2vw !important;
  padding-right: 2vw !important;
  padding-top: 2vh !important;
  padding-bottom: 2vh !important;
  margin: 0px;
  font-size: 4vh;
  background-color: #6666ff !important;
  border-color: #00000011;
}

.fixedContainer {
  width: 100% !important;
  padding: 0px !important;
}

.fixeddiv {
  display: table-row;
  width: 100%;
  height: 5vh !important;
}

#messageRegistered {
  position: relative;
  top: 3vh;
}

#messageNotRegistered {
  position: relative;
  top: 3vh;
}

.fixeddivBigger {
  display: table-row;
  height: 28vh !important;
}

#currentPicture {
  position: relative;
  left: 35%;
  width: 30%;
  height: 30%;
  padding: 0px;
}

#Photo {
  visibility: hidden;
}

#logoPic {
  position: relative;
  width: 15%;
  left: 42.2%;
}

#loginTitle {
  position: fixed;
  top: 25%;
  text-align: center;
  font-size: 500%;
  color: black;
}
